#########################
# Override vim-snippets #
#########################

# option for below snippets sucks (having `bi` option etc.)
snippet % "" i
{% $1 %}$2
endsnippet

snippet %% "" i
{% ${1:tag_name} %}
	$2
{% end$1 %}
endsnippet

snippet # "" w
{# ${1:comment} #}
endsnippet

snippet { "" i
{{ $1 }}$2
endsnippet

snippet block "" w
{% block $1 %}
	$2
{% endblock $1 %}
endsnippet

snippet iblock "" w
{% block ${1:blockname} %}${0:${VISUAL}}{% endblock $1 %}
endsnippet
